<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="malmoteam.dailyactive">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OI"
            android:label="@string/title_activity_oi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DI"
            android:label="@string/title_activity_di"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ON"
            android:label="@string/title_activity_on"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DN"
            android:label="@string/title_activity_dn"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
